@{
    ViewData["Title"] = "Autoři";
}

<div id="oprojektu">
    <h3>O projektu:</h3>
    <p>• Projekt je zaměření na cestování, pokud se nemůžete rozhdnout kam o víkendu vyraz se svojí partou kamarádu nebo s rodinou!</p>
</div>

<div id="autori">
    <h3>Autoři:</h3>
    <p>• Bulíček Marek</p>
    <p>• Kašpar Petr</p>
    <p>• Zahajský Jan</p>
    <p>• Studenti <a target="_blank" href="https://kyberna.cz/">Střední odborné školy aplikované kybernetiky s.r.o.</a></p>
</div>