@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.mainFeed {
    height: 80vh;
    width: 45vh;
    position:fixed;
    margin-left: 150vh;
    margin-top: 10vh;
    visibility: visible;
    box-shadow: 0 0 50px 15px #db48e0;
    border-radius:10px;
}