@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}

.club-background {
    background-image: url('../backGround/giphy3.gif');
    background-size: 100% 100%;
    /* animation: discoBackground 10s infinite; */
}

@keyframes discoBackground {
    0% {
        background-position: 50% 0%;
    }

    10% {
        background-position: 50% 70%;
    }

    25% {
        background-position: 50% 100%;
    }

    75% {
        background-position: 100% 50%;
    }

    90% {
        background-position: 50% 70%;
    }

    100% {
        background-position: 50% 0%;
    }
}

.container {
    background-color: rgba(32, 24, 77, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
}

.club-heading {
    color: #fff;
    font-size: 36px;
    font-family: 'Josefin Sans', sans-serif;
}

.form-group {
    margin: 10px;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;

}

.club-label {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

input {
    width: 100%;
    padding: 10px 0px;
    border: none;
    border: 2px solid #fff;
    border-radius: 20px;
    background: transparent;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.club-button {
    background: linear-gradient(135deg, #1e5799, #1e5799);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}

.back{
    margin-left: -250px;
    background: none;
    background-color: #264d28;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.club-text {
    margin: 10px;
    font-size: 16px;
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
}

.registr {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 250px;
    font-family: 'Josefin Sans', sans-serif;
}

.wrong{
    color: rgb(255, 92, 92);
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
}