button {
    width: 600px;
    height: 600px;
    font-size:30px;
    color: #fff;
    background: none;
    border: none;
    border-radius: 50%; 
    position: relative;
    z-index: 0;
    transition: .3s;
    cursor: pointer;  
  }
  button:before {
    content: "";
    position: absolute;
    inset: -8px;
    padding: 10px;
    border-radius: 50%; 
    background: conic-gradient(
          #ff53bb ,
          #0000 30deg 120deg,
          #00f8d3 150deg 180deg,
          #0000 210deg 300deg,
          #ff53bb 330deg
      );
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
            mask-composite: intersect
  }
  button:after {
    content: "";
    position: absolute;
    inset: -100px;
    background:
      radial-gradient(200px at left  400px top 150px,#ff53bb 100%,#0000),
      radial-gradient(200px at right 400px bottom 150px,#00f8d3 100%,#0000);
    filter: blur(120px);
    opacity: .5;
  }
  
  button:before,
  button:after {
    transition:.5s, 99999s 99999s transform;
  }
  button:hover {
    box-shadow: 0 0 0 1px #666;
  }
  
  button:hover:before,
  button:hover:after {
    transform: rotate(36000deg);
    transition: .5s,600s linear transform;
  }
  button:before {
    background-color: #222;
      border: 2px solid #333;
  }
  