.container {
  display: flex;
  flex-direction: column;
  gap: 0.38rem;
  background-color: white;
  height: 38rem;
  border-radius: 1.1875rem;
  padding-bottom: 2.69rem;
  padding-top: 0.56rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.categoriesContainer {
  display: flex;
  border: 1px solid #e7e9ef;
  height: 100%;
  border-left: none;
}

.categorySidebar {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e7e9ef;
}

.categoryPreview {
  flex: 3;
  height: 100%;
}

.categoryItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid #e7e9ef;
}

.categoryItemWrapper {
  display: flex;
  gap: 1.5rem;
}

.blueParagraph {
  color: #0a2f83;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.69rem;
}

.tableHeading {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  font-weight: 500;
}

.rowHeading {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
}

.tableRow {
  border-bottom: 1px solid #e7e9ef;
}

.tableData {
  padding: 0.69rem;
}

.detailButton {
  color: #0a2f83;
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration-line: underline;
  padding: 0 1rem;
}
