html {
    font-size: 14px;
    font-family: 'InterReal';
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: #496bf1;
    height: 100%;
    display: flex;
}

@font-face {
    font-family: InterReal;
    src: url("../font/Inter-Bold.ttf");
}

.overrideBody {
    margin: 0 0 0 0;
}

.container {
    display: flex;
    height: 97vh;
    margin: auto 85px 0 85px;
    width: 100%;
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading {
    color: #ffffff;
    font-weight: 800;
    font-size: 72px;
    margin-top: 0;
    margin-bottom: 0;
}

.second-heading {
    color: #ffffff;
    font-weight: 600;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    background-color: #FFFFFF;
    width: 100%;
}

.doctors-img {
    width: 450px;
    margin-bottom: 25px;
}

.modal-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4)
}

.modal-header {
    color: black;
    font: bold;
    font-size: 40px;
    text-align: center;
}

.modal-comment {
    margin-top: 50px;
}

.center-modal {
    position: absolute;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: white;
    flex-direction: column;
    border-radius: 7px;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    margin-top: 25px;
    width: 250px;
    height: 50px;
    color: #496bf1;
    background: #ffffff;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #496bf1;
        border-color: #496bf1 transparent #496bf1 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
